<ion-menu contentId="loggedin-content">

  <ion-header>

    <ion-toolbar>

      <ion-card-title style="text-align: center;">CamellosFood Repartidor</ion-card-title>
      <ion-card-subtitle style="text-align: center;">Usuario: NombreApellido</ion-card-subtitle>

      
    </ion-toolbar>


  </ion-header>

  <ion-content class="ion-padding">

    <ion-list>

      <ion-item>
        <ion-icon slot="end" name="at-outline" aria-hidden="true"></ion-icon>
        <ion-label>Item de ejemplo</ion-label>
      </ion-item>




    </ion-list>



  </ion-content>
  
</ion-menu>
